$linear-color-1: #da4733;
$linear-color-2: #3b78e7;
$linear-color-3: #094420;
$default-linear-color: #fdba2c;
$success-background-color: #4b9e37;
$success-box-shadow-color: #2e9c13;
$error-background-color: #da5151;
$error-box-shadow-color: #bd3535;
$warning-background-color: #969600;
$warning-box-shadow-color: #7d7a0b;
$default-box-shadow-color: #dfdfdf;
$divider-border-color: #ffffff;
$default-background-color: #ffffff;
$input-focus-color: #2196F3;
$font-color: rgb(19, 48, 74);
$secondary-font-color: #ffffff;
$footer-background: rgb(19, 48, 74);
$newsletter-background: rgb(238, 243, 247);
$input-border-color: rgba(39, 79, 117, 0.08);
$input-box-shadow: rgba(39,79,117,.15);
$profile-box-shadow: rgba(39,79,117,.45);
$card-content-background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.9));
$active-carousel-indicator: rgba(255,255,255,0.7);
$alternate-active-carousel-indicator: rgba(0,0,0,0.7);
$frame-box-shadow-color: rgba(0,0,0, 0.3);
$icon-color: #aaaaaa;
