@import './colors.scss';

body {
  color: $font-color;
  font-family: 'Montserrat', sans-serif;
}

.link {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

.app-container:not(.non-home-page) {
  background-image: url('../../public/assets/background.jpg');
  background-size: 100% 33em;
  background-repeat: no-repeat;
}

nav ul a {
  font-weight: bold;
}

.brand-logo {
  font-weight: bold;
}
