@import './colors.scss';

@media only screen and (min-width: 992px) {
  .sidenav-trigger {
    display: none;
  }

  .container {
      width: 95%;
  }
}

@media only screen and (max-width: 991px) {
  .subscribe-btn {
    text-align: center;
  }

  .banner-section,
  .latest-article {
    padding: 0 !important;
  }

  .latest-article {
    color: $font-color;
    margin-top: 1em;

    .active-indicator {
      background-color: rgba(0,0,0,0.7) !important;
    }
  }

  .banner-section h1 {
    font-size: 3.6em !important;
  }
}

@media only screen and (max-width: 825px) {
  .aboutus {
    flex-direction: column !important;
  }
}

@media only screen and (max-width: 615px) {
  .banner-section h1 {
    font-size: 2.8em !important;
  }

  .introduction-container .carousel-container {
    width: 100% !important;
  }

  .app-container {
    background-size: 100% 29em !important;
  }
}

@media only screen and (max-width: 520px) {
  .aboutus {
    flex-direction: column;
  }
}

@media only screen and (max-width: 349px) {
  .banner-section h1 {
    font-size: 2.7em !important;
  }
}

@media only screen and (max-width: 335px) {
  .banner-section h1 {
    font-size: 2.6em !important;
  }
}

@media only screen and (max-width: 310px) {
  .banner-section h1 {
    font-size: 2.5em !important;
  }
}
