@import '../../../styles/colors.scss';

.locale-selector-container {
  font-size: 0.8em !important;

  .menu-btn {
    font-weight: bold;
    text-transform: uppercase;
  }

  .submenu-container {
    min-width: 5em !important;

    div {
      line-height: 3em;
      cursor: pointer;
      padding: 0 1em;

      &:hover {
        background-color: $frame-box-shadow-color;
      }
    }
  }
}
