.header-container {
  .locale-selector-container.subheader {
    padding: 0 32px;
  }

  .sidenav .divider {
    margin: 0;
  }

  .nav-menus .item {
    text-transform: uppercase;
  }

  .sidenav .subheader {
    font-weight: bold;
  }

  .sidenav-trigger {
    margin: 0;
  }

  .blue,
  .transparent {
    transition: all 0.5s;
  }

  .transparent {
    box-shadow: none;
  }
}
