@import '../../../styles/colors.scss';

.aboutus-container {
  display: flex;
  justify-content: center;
  background: $footer-background;
  padding: 1em;
  margin: 4em 0;

  .aboutus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $secondary-font-color;

    .profile-pic {
      border: 5px solid $divider-border-color;
      width: 200px;
      height: 200px;
      display: block;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      border-radius: 4px;
      margin-top: -5em;
      box-shadow: 0 0 10px 2px $profile-box-shadow;
    }

    p {
      margin: 1em;
      flex: 1;
    }
  }
}
