@import '../../../styles/colors.scss';

.card-container {
  padding-top: 2px;
  padding-left: 1px;

  &:not(:last-child) {
    padding-right: 0.8em;
  }

  .card {
    height: 12em;
    width: 16em;
    position: relative;
    margin: 0;

    .card-image {
      overflow: hidden;

      &:after {
        content: "O";
        position: absolute;
        top: 35%;
        color: $icon-color;
        font-size: 2em;
        left: 50%;
        padding: 0 2px;
        transform: translate(-50%, -35%) rotate(-45deg);
        line-height: 0;
        border-top: 1px solid $icon-color;
        border-bottom: 1px solid $icon-color;
      }

      &, img {
        height: 100%;
        width: 100%;
      }

      &:hover img {
        transform: scale(1.1,1.1);
        transition: all 0.3s linear;
      }
    }

    .card-content {
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: $secondary-font-color;
      background-image: $card-content-background;

      .card-title {
        font-size: 1.1em;
        margin: 0;
      }
    }
  }
}
