.category-container {
  margin-top: 1.5em;

  .show-all {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 3em;

    .text {
      white-space: nowrap;
      margin-bottom: 0.5em;
    }
  }

  .title-header-section {
    margin: 1em 0;

    i {
      font-size: 0.8em;
      display: block;
    }

    h1 {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      display: inline-block;
    }
  }

  .top-articles-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
