@import '../../../styles/colors.scss';

.menu-container {
  position: relative;

  .dropdown {
    position: absolute;
    z-index: 9999;
    background: $default-background-color;
    color: $font-color;
    min-width: 18em;
  }

  .menu-btn {
    position:relative;
    display:inline-block;

    .menu-highlighter {
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 0px;
      height: 5px;
      border-radius: 5px;
      border-bottom: 5px solid $input-focus-color;
      transition: all 0.2s linear;

      &.opened {
        width: 100%;
        transition: all 0.2s linear;
      }
    }
  }

  .hide {
    display: none;
  }
}
