@import '../../../styles/colors.scss';

.newsletter-container {
  display: flex;
  justify-content: center;
  background-color: $newsletter-background;

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em;
    margin-bottom: 0;
  }

  .sub-title {
    font-size: 1em;
    margin: 2em 1em;
  }

  input {
    background: $default-background-color !important;
    padding: 0 8px !important;
    box-sizing: border-box !important;
    border: 1px solid $input-border-color !important;
    height: 2.4em !important;
    box-shadow: 0 3px 23px $input-box-shadow !important;

    &:focus {
      border-color: $input-focus-color !important;
      box-shadow: none !important;
    }
  }

  .icon-social {
    margin-top: 1em;

    a:hover {
      transform: scale(1.2);
    }

    img {
      width: 32px;
      height: 32px;
      padding: 2px;
    }

    .youtube img {
      transform: scale(1.3);
    }

    .email img {
      transform: scale(1.1);
    }

    i {
      font-size: 2.4em;
    }
  }
}
